@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Serif:ital,wght@1,700&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.header {
  height: 70px;
  width: 100%; }
  .header .navbar {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 10; }
    .header .navbar .logo {
      height: 100%;
      width: 200px;
      display: flex;
      align-items: center;
      margin-left: 10px; }
      .header .navbar .logo img {
        object-fit: cover;
        height: 80%;
        width: 30%; }
      .header .navbar .logo p {
        margin-left: 15px;
        margin-top: 0px;
        width: 250px;
        margin-bottom: 0px;
        font-size: 18px;
        font-weight: bold;
        font-style: italic;
        align-self: center;
        line-height: 25px;
        color: black; }
    .header .navbar .checkbtn {
      height: 50px;
      width: 50px;
      display: flex;
      background: #2c3e50;
      color: #faf9f9;
      margin: 10px 10px;
      position: fixed;
      top: 0;
      right: 0;
      justify-content: center;
      align-items: center;
      transition: .5s;
      z-index: 15; }
      .header .navbar .checkbtn::before {
        content: '';
        position: absolute;
        width: 28px;
        height: 2px;
        background: #fff;
        transition: .5s;
        transform: translateY(-10px);
        box-shadow: 0 10px 0 #fff; }
      .header .navbar .checkbtn::after {
        content: '';
        position: absolute;
        width: 28px;
        height: 2px;
        background: #fff;
        transition: .5s;
        transform: translateY(10px); }
    .header .navbar #check {
      display: none; }
      .header .navbar #check:checked ~ .lista {
        left: 0; }
      .header .navbar #check:checked ~ .checkbtn {
        background: #f7226a; }
      .header .navbar #check:checked ~ .checkbtn::before {
        transform: translateY(0px) rotate(45deg);
        box-shadow: 0 0 0 #fff; }
      .header .navbar #check:checked ~ .checkbtn::after {
        transform: translateY(0px) rotate(-45deg); }
    .header .navbar .lista {
      position: fixed;
      width: 100%;
      height: 100vh;
      margin: 0px;
      background: #2c3e50;
      top: 70px;
      left: -100%;
      text-align: center;
      transition: all .5s;
      flex-direction: column;
      justify-content: flex-start;
      list-style: none;
      font-family: "Be Vietnam Pro", sans-serif;
      z-index: 1;
      padding: 0; }
      .header .navbar .lista .lista-item a {
        width: 100%;
        font-size: 25px;
        display: block;
        line-height: 80px;
        text-decoration: none;
        color: #FFFFFF; }
        .header .navbar .lista .lista-item a:hover {
          background: #2286e6; }

@media only screen and (min-width: 768px) {
  .header .navbar .checkbtn {
    display: none !important; }
  .header .navbar .lista {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 15;
    background: none;
    margin: 0px; }
    .header .navbar .lista .lista-item {
      padding: 0px 1em; }
      .header .navbar .lista .lista-item a {
        text-decoration: none;
        font-size: 16px;
        line-height: 60px;
        transition: .5s;
        color: black; }
        .header .navbar .lista .lista-item a:hover {
          background: none;
          color: #48cae4; } }

.main-index {
  width: 100%;
  height: auto; }
  .main-index .div-chela-index {
    height: 560px;
    width: 100%;
    background-color: #bfc0c0;
    color: black;
    z-index: 1; }
    .main-index .div-chela-index .titulo-index {
      margin-top: 0px;
      padding-top: 10px;
      text-align: center;
      font-size: 25px;
      font-family: 'Quantico', sans-serif; }
  .main-index .pato .carousel-inner .row .carousel .carousel-inner .carousel-item img {
    height: 500px; }
  .main-index .div-marca-index {
    height: 250px;
    width: 100%;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .main-index .div-marca-index .text-index {
      text-align: center; }
    .main-index .div-marca-index .titulo-index {
      margin-top: 0px;
      text-align: center;
      font-size: 25px;
      font-family: 'Quantico', sans-serif; }
    .main-index .div-marca-index .btn-index {
      width: 60%;
      background-color: #212529;
      border: none;
      border-radius: 5px;
      text-decoration: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      font-size: 16px;
      margin: 0px auto; }
    .main-index .div-marca-index video {
      z-index: -1;
      height: 250px;
      width: 100%;
      position: absolute;
      top: 0px;
      object-fit: cover; }
    .main-index .div-marca-index::after {
      content: "";
      position: absolute;
      top: 0;
      z-index: -1;
      background: #001d3d;
      height: 100%;
      width: 100%;
      opacity: .6; }
  .main-index .div-shop-index {
    height: 200px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .main-index .div-shop-index video {
      z-index: -1;
      height: 200px;
      width: 100%;
      position: absolute;
      top: 0px;
      object-fit: cover; }
    .main-index .div-shop-index::after {
      content: "";
      position: absolute;
      top: 0;
      z-index: -1;
      background: #9d0208;
      height: 100%;
      width: 100%;
      opacity: .6; }
    .main-index .div-shop-index .btn-index {
      width: 60%;
      background-color: #212529;
      border: none;
      border-radius: 5px;
      text-decoration: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      font-size: 16px;
      margin: 0px auto; }
    .main-index .div-shop-index .text-index {
      text-align: center; }
    .main-index .div-shop-index .titulo-index {
      margin-top: 0px;
      text-align: center;
      font-size: 25px;
      font-family: 'Quantico', sans-serif; }
  .main-index .div-local-index {
    height: 350px;
    width: 100%;
    background-image: url("../images/contacto.webp");
    color: white;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .main-index .div-local-index::after {
      content: "";
      position: absolute;
      top: 0;
      z-index: -1;
      background: #b6ad90;
      height: 100%;
      width: 100%;
      opacity: .6; }
    .main-index .div-local-index .btn-index {
      width: 60%;
      background-color: #212529;
      border: none;
      border-radius: 5px;
      text-decoration: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      font-size: 16px;
      margin: 0px auto; }
    .main-index .div-local-index .text-index {
      text-align: center; }
    .main-index .div-local-index .titulo-index {
      margin-top: 0px;
      text-align: center;
      font-size: 25px;
      font-family: 'Quantico', sans-serif; }
  .main-index .div-contacto-index {
    height: 200px;
    width: 100%;
    z-index: 1;
    background-image: url("../images/local.webp");
    color: white;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .main-index .div-contacto-index::after {
      content: "";
      position: absolute;
      top: 0;
      z-index: -1;
      background: #414833;
      height: 100%;
      width: 100%;
      opacity: .6; }
    .main-index .div-contacto-index .btn-index {
      width: 60%;
      background-color: #212529;
      border: none;
      border-radius: 5px;
      text-decoration: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      font-size: 16px;
      margin: 0px auto; }
    .main-index .div-contacto-index .text-index {
      text-align: center; }
    .main-index .div-contacto-index .titulo-index {
      margin-top: 0px;
      text-align: center;
      font-size: 25px;
      font-family: 'Quantico', sans-serif; }

@media only screen and (min-width: 1024px) {
  .main-index {
    height: 600px;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 30% 10% 20%;
    grid-template-rows: 50% 50%; }
    .main-index .div-chela-index {
      grid-row: 1/3;
      grid-column: 1/2;
      height: 100%; }
      .main-index .div-chela-index .pato .carousel-inner .row .col-sm-4 .carousel {
        display: flex;
        justify-content: center; }
        .main-index .div-chela-index .pato .carousel-inner .row .col-sm-4 .carousel .carousel-inner {
          width: 250px;
          height: 492px; }
          .main-index .div-chela-index .pato .carousel-inner .row .col-sm-4 .carousel .carousel-inner .carousel-item {
            height: auto; }
    .main-index .div-marca-index {
      grid-row: 2/3;
      grid-column: 2/4;
      height: 100%; }
      .main-index .div-marca-index video {
        height: 300px; }
    .main-index .div-shop-index {
      grid-row: 1/2;
      grid-column: 2/3;
      height: 100%; }
      .main-index .div-shop-index video {
        height: 300px; }
    .main-index .div-local-index {
      grid-row: 1/2;
      grid-column: 3/5;
      height: 100%; }
    .main-index .div-contacto-index {
      grid-row: 2/3;
      grid-column: 4/5;
      height: 100%; } }

@media only screen and (min-width: 1200px) {
  .main-index .div-chela-index .pato .carousel-inner .row .col-sm-4 .carousel .carousel-inner .carousel-item {
    height: 500px; } }

.main-contacto {
  height: auto;
  width: 100%;
  margin: 0px 0px;
  background-image: url("../images/beer-2166004_1920.webp");
  background-size: cover; }
  .main-contacto .container-contacto {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px auto; }
    .main-contacto .container-contacto .title-formulario {
      font-size: 30px;
      font-family: 'Quantico', sans-serif;
      font-style: italic;
      font-weight: bold;
      color: black; }
    .main-contacto .container-contacto .description-formulario {
      font-size: 18px;
      color: black; }
    .main-contacto .container-contacto .form {
      height: auto;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 5px;
      padding: 20px 0px 20px 0px; }
      .main-contacto .container-contacto .form .label {
        width: 100%;
        font-size: 18px;
        display: block;
        padding: 10px;
        margin: 0px 0px 5px 10px;
        color: white; }
        .main-contacto .container-contacto .form .label input {
          display: block;
          padding: 10px;
          width: 95%;
          border: none;
          border-radius: 5px;
          color: black;
          font-size: 16px;
          opacity: 1; }
        .main-contacto .container-contacto .form .label select {
          padding: 10px;
          width: 70%;
          border: none;
          border-radius: 5px;
          color: black;
          font-size: 18px;
          margin-left: 10px; }
      .main-contacto .container-contacto .form textarea {
        height: 200px;
        width: 90%;
        resize: none;
        font-size: 18px;
        color: black;
        padding: 10px 10px;
        border: none;
        border-radius: 5px;
        display: block;
        margin: 0px auto; }
      .main-contacto .container-contacto .form .btn {
        display: block;
        width: 50%;
        padding: 10px;
        margin: 10px auto 0px;
        font-size: 18px;
        color: white;
        background-color: black; }

@media only screen and (min-width: 480px) {
  .main-contacto .container-contacto .form .btn {
    width: 50%; } }

.main-eshop {
  height: auto;
  width: 100%;
  background: #6a040f;
  padding: 30px 0px; }
  .main-eshop .container {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0px; }
    .main-eshop .container .card {
      display: flex;
      justify-content: space-around;
      position: relative;
      max-width: 350px;
      height: 251px;
      margin: 40px 10px;
      padding: 20px 15px;
      display: flex;
      flex-direction: column;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
      transition: .3s ease-in-out; }
      .main-eshop .container .card:hover {
        height: 470px; }
        .main-eshop .container .card:hover .imgBx {
          height: 300px;
          width: 93px;
          margin: 0 auto;
          top: -100px; }
          .main-eshop .container .card:hover .imgBx img {
            height: 100%;
            width: 100%; }
          .main-eshop .container .card:hover .imgBx p {
            display: none; }
        .main-eshop .container .card:hover .content {
          visibility: visible;
          opacity: 1;
          margin-top: -100px;
          transition-delay: .3s; }
      .main-eshop .container .card .content {
        position: relative;
        margin-top: -200px;
        padding: 10px 15px;
        text-align: center;
        color: #fff;
        visibility: hidden;
        opacity: 0;
        transition: .5s ease-in-out;
        font-family: 'Montserrat', sans-serif; }
      .main-eshop .container .card .imgBx {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        height: 100vh;
        width: 100%;
        top: -20px;
        z-index: 1;
        font-family: 'Montserrat', sans-serif; }
        .main-eshop .container .card .imgBx img {
          height: 200px;
          width: 62px; }
        .main-eshop .container .card .imgBx p {
          padding-top: 30px;
          font-size: 20px;
          color: #fff; }

.main-local {
  height: auto;
  width: 100%;
  margin: 0px 0px;
  background-color: #b6ad90; }
  .main-local .container-local {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto; }
    .main-local .container-local .tittle-local {
      width: 100%;
      font-size: 30px;
      font-family: 'Quantico', sans-serif;
      font-style: italic;
      font-weight: bold;
      color: black;
      text-align: center;
      padding-top: 10px; }
    .main-local .container-local .mapa {
      width: 100%;
      margin-bottom: 20px; }
    .main-local .container-local iframe {
      width: 100% !important; }

.main-marca {
  height: auto;
  width: 100%;
  margin: 0px 0px;
  background-color: #001d3d; }
  .main-marca .container-marca {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto; }
    .main-marca .container-marca .first-part-marca {
      position: relative;
      height: 650px;
      width: 100%;
      margin: 0px auto; }
      .main-marca .container-marca .first-part-marca .tittle-marca {
        width: 100%;
        font-size: 30px;
        font-family: 'Quantico', sans-serif;
        font-style: italic;
        font-weight: bold;
        color: white;
        text-align: center; }
      .main-marca .container-marca .first-part-marca img {
        width: 140px;
        height: 180px;
        object-fit: cover;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7); }
      .main-marca .container-marca .first-part-marca .img1-first-part-marca {
        position: absolute;
        top: 50px;
        left: 10px; }
      .main-marca .container-marca .first-part-marca .description-marca {
        position: absolute;
        width: 280px;
        height: 180px;
        font-size: 18px;
        color: white;
        top: 40%;
        margin: 0 auto;
        left: 10px; }
      .main-marca .container-marca .first-part-marca .img2-first-part-marca {
        position: absolute;
        bottom: 0px;
        right: 10px; }
    .main-marca .container-marca .second-part-marca {
      height: auto;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 20px 20px; }
      .main-marca .container-marca .second-part-marca .elpdelamarca {
        width: 100%;
        text-align: left; }
      .main-marca .container-marca .second-part-marca .laimg1delaparte2, .main-marca .container-marca .second-part-marca .laimg2delaparte2 {
        width: 100%;
        height: 180px;
        object-fit: cover;
        margin-bottom: 30px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7); }
      .main-marca .container-marca .second-part-marca h2, .main-marca .container-marca .second-part-marca p {
        color: white; }

@media only screen and (min-width: 480px) {
  .main-marca .container-marca .first-part-marca .description-marca {
    left: 25%; } }

@media only screen and (min-width: 576px) {
  .main-marca .container-marca .first-part-marca img {
    width: 160px;
    height: 200px;
    object-fit: cover;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7); }
  .main-marca .container-marca .second-part-marca .laimg1delaparte2, .main-marca .container-marca .second-part-marca .laimg2delaparte2 {
    width: 50%;
    height: 180px;
    display: inline-block; } }

@media only screen and (min-width: 768px) {
  .main-marca .container-marca .first-part-marca img {
    width: 200px;
    height: 260px;
    object-fit: cover;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7); }
  .main-marca .container-marca .first-part-marca .description-marca {
    top: 30%;
    left: 35%; }
  .main-marca .container-marca .first-part-marca .img2-first-part-marca {
    bottom: 50px; }
  .main-marca .container-marca .second-part-marca .laimg1delaparte2, .main-marca .container-marca .second-part-marca .laimg2delaparte2 {
    width: 50%;
    height: 180px;
    display: inline-block; } }

@media only screen and (min-width: 1024px) {
  .main-marca .container-marca .first-part-marca {
    position: relative;
    height: 1000px;
    width: 100%;
    margin: 0px auto; }
    .main-marca .container-marca .first-part-marca img {
      width: 300px;
      height: 400px; }
    .main-marca .container-marca .first-part-marca .description-marca {
      top: 40%;
      left: 35%; }
  .main-marca .container-marca .second-part-marca .laimg1delaparte2 {
    width: 40%;
    height: 360px;
    display: inline-block;
    margin: 0px 10px 0px 0px; }
  .main-marca .container-marca .second-part-marca .laimg2delaparte2 {
    width: 40%;
    height: 360px;
    display: inline-block;
    margin-left: 10px; } }

@media only screen and (min-width: 1200px) {
  .main-marca .container-marca .first-part-marca {
    position: relative;
    height: 1200px;
    width: 100%;
    margin: 0px auto; }
    .main-marca .container-marca .first-part-marca img {
      width: 380px;
      height: 500px; }
    .main-marca .container-marca .first-part-marca .description-marca {
      top: 35%;
      left: 38%;
      font-size: 25px;
      width: 320px; } }

.footer {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: black;
  color: white; }
  .footer .icons {
    display: flex;
    flex-direction: row;
    list-style: none; }
    .footer .icons .items i {
      font-size: 20px;
      margin: 0px 10px; }
    .footer .icons .items #instagram {
      color: #e4405f; }
    .footer .icons .items #twitter {
      color: #1da1f2; }
    .footer .icons .items #whatsapp {
      color: #20d466; }
  .footer .arrow {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9; }
    .footer .arrow a {
      height: 39px;
      width: 37px;
      text-align: center;
      background: #212529;
      display: block;
      border-radius: 3px; }
      .footer .arrow a span {
        font-size: 25px;
        line-height: 39px;
        color: white;
        cursor: pointer; }

@media only screen and (min-width: 480px) {
  .footer {
    font-size: 18px; }
    .footer .icons .items > i {
      font-size: 25px; } }
