.main-contacto {
    height: auto;
    width: 100%;
    margin: 0px 0px;
    background-image: url("../images/beer-2166004_1920.webp");
    background-size: cover;
    .container-contacto {
        height: 100%;
        width: 70%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0px auto;
        .title-formulario {
            font-size: 30px;
            font-style: italic;
            font-weight: bold;
            color: white;
        }
        .description-formulario {
            font-size: 18px;
            color: white;
        }
        .form{
        height: auto;
        width: 100%;
        background-color: rgba(0, 0, 0, .6);
        padding: 20px;
        border-radius: 5px;
        margin-bottom: 30px;
        .label {
            font-size: 18px;
            display: block;
            padding: 10px;
            margin-bottom: 5px;
            color: white;
            input {
                display: block;
                padding: 10px;
                width: 80%;
                border: none;
                border-radius: 5px;
                color: black;
                font-size: 16px;
                opacity: 1;
            }
            select {
                padding: 10px;
                width: 60%;
                border: none;
                border-radius: 5px;
                color: black;
                font-size: 18px;
                margin-left: 10px;
            }
            textarea {
                display: block;
                width: 90%;
                height: 140px;
                resize: none;
                font-size: 18px;
                color: black;
                padding: 5px 10px;
                margin: 0px auto;
                border: none;
                border-radius: 5px;
            }
        }
        .btn {
            display: block;
            width: 90%;
            padding: 10px;
            font-size: 18px;
            color: white;
            background-color: black;
            margin: 10px auto 0px;
        }
    } 
    } 
} 
    @media only screen and (min-width: 480px) { 
    .main-contacto{
        .container-contacto {
            .form {
                .btn {
                    width: 50%;
                }
            }
        }
    }
    } 