.main-eshop {
    height: auto;
    width: 100%;
    .container-eshop {
        @include sizes-behavior(auto, 100%, flex);
        justify-content: center;
        flex-direction: column;
        align-content: center;
        margin: 0px auto;
        background-color: #6a040f;
        padding-bottom: 20px;
            .div-de-las-chelas{
                @extend .container-eshop;
                background-color: none;
                margin: 0;
                align-items: center;
                padding-bottom: 0px;
                .pilar{
                    height: auto;
                    width: 100%;
                    display: flex; 
                    flex-direction: column;
                    align-items: center;
                    .div-tittle-eshop{
                        @include text(24px, white);
                        text-align: center;
                        padding-top: 10px;
                        font-family: 'Quantico', sans-serif;
                    }
                    img{
                        height: 400px;
                        width: 124px;
                    }
                }
                .div-text-eshop{
                    @include text(16px, white);
                    padding: 0px 20px;
                }
                .btn-eshop{
                    height: 40px;
                    width: 50%;
                    background-color: #001d3d;
                    color: white;
                    border: none;
                    margin: 0px auto;
                    a{
                        text-decoration: none;
                        color: white;
                        font-size: 16px;
                    }
                }
            }
    } 
}
@media only screen and (min-width: 1200px)  {
    .main-eshop{
        .container-eshop{
            flex-direction: row;
            height: 800px;
            .div-de-las-chelas{
                flex-direction: column;
                max-height: 800px;
                .pilar{
                    flex-direction: column;
                    height: 445px;
                }
                .div-text-eshop{
                    height: 200px;
                    margin: 0px;
                    padding: 20px 10px;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
} 