
.footer {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    .icons { 
        i {
        font-size: 20px;
        margin: 0px 10px;   
        }
        @each $redes-sociales, $color in $redes { 
            ##{$redes-sociales}{
                color: $color;
            } 
    }
    } 
    .arrow{
        position: fixed;
        bottom: 30px;
        right: 30px;
        z-index: 9;
        a{
            height: 39px;
            width: 37px;
            text-align: center;
            background: #001d3d;
            display: block;
            border-radius: 3px;
            span{
                font-size: 25px;
                line-height: 39px;
                color: white;
                cursor: pointer;
                }
            } 
        }
    }
@media only screen and (min-width: 480px) { 
    .footer {
        font-size: 18px;
        .icons > i {
            font-size: 25px;
        }
    }
}