.main-marca {
    height: auto;
    width: 100%;
    margin: 0px 0px;
       background-color: #001d3d;
    .container-marca  {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px auto;
        .first-part-marca {
            position: relative;
            height: 650px;
            width: 100%;
            margin:0px auto;
            .tittle-marca {
                width: 100%;
                font-size: 30px;
                font-family: 'Quantico', sans-serif;
                font-style: italic;
                font-weight: bold;
                color: white;
                text-align: center;
            }
            img {
                width: 140px;
                height: 180px;
                object-fit: cover;
                box-shadow: 0px 0px 10px rgba(0,0, 0, .7);
            }
            .img1-first-part-marca {
                position: absolute;
                top: 50px;
                left: 10px;
            }
            .description-marca {
                position: absolute;
                width: 280px;
                height: 180px;
                font-size: 18px;
                color: white;
                top: 40%;
                margin: 0 auto;
                left: 10px;
            }
            .img2-first-part-marca{
                position: absolute;
                bottom: 0px;
                right: 10px;
            }
        }
        .second-part-marca{
            height: auto;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 20px 20px;
            .elpdelamarca{
                width: 100%;
                text-align: left;
            }
            .laimg1delaparte2, .laimg2delaparte2{
                width: 100%;
                height: 180px;
                object-fit: cover; 
                margin-bottom: 30px; 
                box-shadow: 0px 0px 10px rgba(0,0, 0, .7);
            }
            h2, p {
                color: white;
            }
        }
    }
}
@media only screen and (min-width: 480px) { 
    .main-marca{
        .container-marca{
            .first-part-marca {
                .description-marca{
                left: 25%;
                }
            }
        }
    }
} 
@media only screen and (min-width: 576px) {
    .main-marca{
        .container-marca{
            .first-part-marca {
                img {
                    width: 160px;
                    height: 200px;
                    object-fit: cover;
                    box-shadow: 0px 0px 10px rgba(0,0, 0, .7);
                }
            }
            .second-part-marca{
                .laimg1delaparte2, .laimg2delaparte2{
                    width: 50%;
                    height: 180px;
                    display: inline-block;
                }
            }
        }
    }
}
@media only screen and (min-width: 768px)  {
    .main-marca{
        .container-marca{
            .first-part-marca {
                img {
                    width: 200px;
                    height: 260px;
                    object-fit: cover;
                    box-shadow: 0px 0px 10px rgba(0,0, 0, .7);
                }
                .description-marca{
                    top: 30%;
                    left: 35%;
                }
                .img2-first-part-marca{
                    bottom: 50px;
                }
            }
            .second-part-marca{
                .laimg1delaparte2, .laimg2delaparte2{
                    width: 50%;
                    height: 180px;
                    display: inline-block;
                }
            }
        }
    }
} 
@media only screen and (min-width: 1024px)  {
    .main-marca{
        .container-marca{
            .first-part-marca {
                position: relative;
                height: 1000px;
                width: 100%;
                margin:0px auto;
                img {
                    width: 300px;
                    height: 400px;
                }
                .description-marca{
                    top: 40%;
                    left: 35%;
                }
            }
            .second-part-marca{
                .laimg1delaparte2{
                    width: 40%;
                    height: 360px;
                    display: inline-block;
                    margin: 0px 10px 0px 0px;
                }
                .laimg2delaparte2{
                    width: 40%;
                    height: 360px;
                    display: inline-block;
                    margin-left: 10px;
                }
        }
    }
}
} 
@media only screen and (min-width: 1200px)  {
    .main-marca{
        .container-marca{
            .first-part-marca {
                position: relative;
                height: 1200px;
                width: 100%;
                margin:0px auto;
                img {
                    width: 380px;
                    height: 500px;
                }
                .description-marca{
                    top: 35%;
                    left: 38%;
                    font-size: 25px;
                    width: 320px;
                }
            }
        }
    }        
} 